@import "./src/assets/scss/common/_color-variables.scss";

.add_to_cart {
  position: fixed;
  background-color: $white;
  z-index: 9999;
  transition: all 0.5s ease;
  ::-webkit-scrollbar {
    width: 3px;
    height: 7px;
  }
  ::-webkit-scrollbar-track {
    background: $round-border;
  }
  ::-webkit-scrollbar-thumb {
    background: $grey5;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: $grey2;
  }
  .empty-cart-cls {
    padding: 30px 44px;
  }
  .cart-inner {
    background-color: #ffffff;
    z-index: 9;
    position: relative;
    top: 0;
    .cart_media {
      padding: 0 20px;
      li {
        position: relative;
        padding-bottom: 10px;
        width: 100%;
        .media {
          align-items: center;
          height: 100%;
          img {
            height: 90px;
          }
          .media-body {
            align-self: center;
            h4 {
              color: $font-color;
              span {
                color: $grey;
                font-size: 16px;
              }
            }
          }
        }
        .total {
          border-top: 1px solid #f1f5f4;
          border-bottom: 1px solid #f1f5f4;
          padding-top: 10px;
          padding-bottom: 10px;
          h5 {
            margin-bottom: 0;
            color: #999999;
            span {
              float: right;
            }
          }
        }
        .buttons {
          a {
            font-size: 16px;
            color: $white;
            font-weight: 700;
            transition: all 0.5s ease;
            &:hover {
              color: var(--theme-deafult);
              transition: all 0.5s ease;
            }
          }
          .checkout {
            float: right;
          }
        }
      }
      .close-circle {
        position: absolute;
        top: 0;
        right: 0;
        i {
          color: $grey-light;
          font-size: 16px;
          transition: all 0.5s ease;
          &:hover {
            color: $black;
            transition: all 0.5s ease;
          }
        }
      }
    }
    .cart_top {
      display: flex;
      padding: 20px;
      border-bottom: 1px solid #efefef;
      margin-bottom: 20px;
      align-items: center;
      h3 {
        font-size: 18px;
        color: #222222;
        font-weight: 700;

        margin-bottom: 0;
      }
      .close-cart {
        margin-left: auto;
        i {
          color: black;
          font-size: 18px;
        }
      }
    }
  }
  .overlay {
    visibility: hidden;
    opacity: 0;
    background-color: #212331;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.5s ease;
  }
  &.openSide {
    transition: all 0.5s ease;
    .overlay {
      opacity: 0.8;
      visibility: visible;
      transition: all 0.5s ease;
    }
  }
  &.left {
    left: -300px;
    top: 0;
    height: 100vh;
    width: 300px;
    .cart-inner {
      height: 100vh;
      overflow: auto;
    }
    &.openSide {
      left: 0;
    }
  }
  &.right {
    right: -300px;
    height: 100vh;
    width: 300px;
    top: 0;
    .cart-inner {
      height: 100vh;
      overflow: auto;
    }
    &.openSide {
      right: 0;
    }
  }
  &.top,
  &.bottom {
    height: 218px;
    width: 100%;
    .cart_media {
      display: flex;
      width: 100%;
      .cart_product {
        display: flex;
        width: 75%;
        overflow-y: auto;
        li {
          min-width: 245px;
          max-width: 225px;
          margin-right: 18px;
          padding-bottom: 0;
        }
      }
      .cart_total {
        width: 25%;
      }
    }
    .cart-inner {
      height: 218px;
      .cart_top {
        margin-bottom: 0;
        background-color: #fbfbfb;
        padding: 15px 44px;
        border-bottom: none;
      }
      .cart_media {
        padding: 0;
        .cart_product,
        .cart_total {
          padding: 30px 44px;
        }
      }
    }
  }
  &.top {
    top: -300px;
    &.openSide {
      top: 0;
    }
  }
  &.bottom {
    bottom: -300px;
    &.openSide {
      bottom: 0;
    }
  }
}

.cart-section {
  .table {
    tbody {
      &+tbody {
        border-top: none;
      }
    }
  }
  .cart-buttons {
    padding-top: 35px;
    >div {
      &:last-child {
        text-align: right;
        padding-right: 59px;
      }
    }
  }
  .cart-table {
    overflow: hidden;
    margin-bottom: 0;
    thead {
      th {
        border-bottom-width: 1px;
        font-weight: 900;
        color: $dark-font;

        font-size: 14px;
        border-top: 0;
        text-align: center;
        padding: 0 0.75rem 0.75rem 0.75rem;
      }
    }
  }
  tbody {
    h2 {
      margin-bottom: 0;
    }
    tr {
      td {
        min-width: 210px;
        vertical-align: middle;
        color: $grey;
        border-top: 0;
        border-bottom: 1px solid #eeeeee;
        text-align: center;
        a,
        p {
          color: $grey;
          font-weight: 400;
          font-size: 14px;
          margin-bottom: 0;
          img {
            height: 90px;
          }
        }
        .td-color {
          color: var(--theme-deafult);
        }
        h2 {
          font-size: 24px;
          color: $dark-font;
          font-weight: 400;
        }
        .mobile-cart-content {
          display: none;
          justify-content: center;
          margin-top: 10px;
          .qty-box {
            border-right: 1px solid $round-border;
            border-radius: 5px;
            .input-group {
              .form-control {
                width: 48px;
                padding: 6px;
              }
            }
          }
          .col-xs-3 {
            align-self: center;
            margin-left: 10px;
            margin-right: 10px;
          }
          h2 {
            font-size: 20px;
          }
        }
      }
    }
  }
  tfoot {
    tr {
      th {
        padding-top: 35px;
        text-align: right;
      }
      td {
        padding-top: 35px;
        padding-bottom: 0;
        text-align: right;
        border: none;
        padding-right: 63px;
        h2 {
          font-size: 24px;
          margin-bottom: 0;
        }
        &:first-child {
          width: 85%;
          font-size: 15px;
          padding-right: 10px;
          font-weight: 700;
        }
      }
    }
  }
}

@media (min-width: 576px) and (max-width: 992px) {
  .cart-section {
    .cart-buttons {
      > div {
        &:last-child {
          padding-right: 15px
        }
      }

      .btn-solid {
        padding: 7px 8px;
      }
    }
  }
}

@media (min-width: 1px) and (max-width: 576px) {
  .cart-section {
    tbody {
      tr {
        td {
          min-width: 115px;

          .mobile-cart-content {
            .col-xs-3 {
              margin-left: 5px;
              margin-right: 5px;
            }
          }

          a {
            img {
              height: 80px;
            }
          }
        }
      }
    }

    tfoot {
      tr {
        td {
          padding-right: 27px;

          h2 {
            font-size: 21px;
          }
        }
      }
    }
  }
}
