

.checkout-page {
  .checkout-title {
    margin-bottom: 25px;
    h3 {
      color: $grey4;
      font-weight: 700;
    }
  }
  .checkout-form {
    .checkout-details {
      position: relative;
      background-color: $grey-lighter;
      border: 1px solid $round-border;
      padding: 40px;
    }
    .check-out {
      .form-group {
        &:last-child {
          margin-bottom: -5px;
          label {
            margin-bottom: -5px;
          }
        }
      }
    }
    .form-group {
      position: relative;
      margin-bottom: 25px;
      h3 {
        color: $grey4;
        font-weight: 700;
        margin-bottom: 30px;
        margin-top: 30px;
      }
      .field-label {
        line-height: 24px;
        text-transform: capitalize;
        color: #333333;
        margin-bottom: 10px;
        font-weight: 700;
        span {
          font-size: 16px;
          color: $dark-font;
          font-weight: 600;
        }
      }
      label {
        color: $grey;
      }
    }
    select {
      cursor: pointer;
      -webkit-appearance: none;
      -ms-appearance: none;
      -o-appearance: none;
      -moz-appearance: none;
      background: url("#{$assetspath}/dropdown.png") no-repeat 95%;
    }
    input {
      &[type="text"],
      &[type="email"],
      &[type="password"],
      &[type="tel"],
      &[type="number"],
      &[type="url"] {
        width: 100%;
        padding: 0 22px;
        height: 45px;
        border: 1px solid #dddddd;
      }
    }
    select,
    textarea {
      width: 100%;
      padding: 0 22px;
      height: 45px;
      border: 1px solid #dddddd;
    }
  }
  .check-box {
    line-height: 24px;
    font-size: 14px;
    font-weight: normal;
    padding-top: 5px;
    label {
      position: relative;
      top: -1px;
      font-weight: normal;
      padding: 0;
      font-size: 16px;
      cursor: pointer;
      color: $font-color;
    }
  }
  .lower-content {
    margin-top: 30px;
    .order-column {
      margin-bottom: 40px;
    }
  }
}


@media (min-width: 576px) and (max-width: 992px) {
  .success-text {
    i {
      font-size: 40px;
    }
    p {
      font-size: 16px;
      margin-bottom: 10px;
      line-height: 1.2;
    }
    h2 {
      margin-bottom: 10px;
    }
  }
}

@media (min-width: 1px) and (max-width: 576px) {
  .success-text {
    h2 {
      font-size: 20px;
    }

    p {
      font-size: 14px;
    }
  }
}

@media (min-width: 576px) and (max-width: 992px) {
  .checkout-page {
    .checkout-form {
      .checkout-details {
        padding: 15px;
      }
    }
  }
}
@media (min-width: 1px) and (max-width: 576px) {
  .checkout-page {
    .checkout-form {
      .form-group {
        margin-bottom: 15px;
      }

      input {
        &[type="text"],
        &[type="email"],
        &[type="password"],
        &[type="tel"],
        &[type="number"],
        &[type="url"] {
          height: 40px;
        }
      }

      select,
      textarea {
        height: 40px;
      }
    }
  }
}

@media (min-width: 1px) and (max-width: 576px) {
  .order-box {
    .sub-total {
      .shipping {
        width: unset;
        float: unset;
        display: flex;

        .shopping-option {
          &:last-child {
            padding-left: 20px;
          }
        }
      }
    }
  }
}

@media (min-width: 576px) and (max-width: 992px) {
  .delivery-sec {
    padding: 15px;
    margin-top: 15px;
  }
  .product-order {
    h3 {
      font-size: 20px;
    }
    .product-order-detail {
      .order_detail {
        h4,
        h5 {
          font-size: 14px;
          line-height: 1.2;
        }
      }
    }

    .final-total {
      h3 {
        font-size: 16px;
      }
    }
  }
  .order-success-sec {
    >div {
      margin-top: 15px;
    }
  }
  .error-section {
    padding: 100px 0;
    h1 {
      font-size: 100px;
    }
    h2 {
      margin: 20px 0;
      font-size: 18px;
    }
  }
  .success-text {
    i {
      font-size: 40px;
    }
    p {
      font-size: 16px;
      margin-bottom: 10px;
      line-height: 1.2;
    }
    h2 {
      margin-bottom: 10px;
    }
  }
}
