<div class="container">
  <div class="card">
    <div class="container-fliud">
      <div class="wrapper row">
        <div class="preview col-md-6">
          <div class="preview-pic tab-content">
            <div class="tab-pane active" id="pic-1">
              <img src="http://placekitten.com/400/252" />
            </div>

            <div class="tab-pane" id="pic-2">
              <img src="http://placekitten.com/400/252" />
            </div>
            <div class="tab-pane" id="pic-3">
              <img src="http://placekitten.com/400/252" />
            </div>
            <div class="tab-pane" id="pic-4">
              <img src="http://placekitten.com/400/252" />
            </div>
            <div class="tab-pane" id="pic-5">
              <img src="http://placekitten.com/400/252" />
            </div>

          </div>
          <ul class="preview-thumbnail nav nav-tabs">
            <li class="active"><a data-target="#pic-1" data-toggle="tab"><img src="http://placekitten.com/200/126" /></a></li>
            <li><a data-target="#pic-2" data-toggle="tab"><img src="http://placekitten.com/200/126" /></a></li>
            <li><a data-target="#pic-3" data-toggle="tab"><img src="http://placekitten.com/200/126" /></a></li>
            <li><a data-target="#pic-4" data-toggle="tab"><img src="http://placekitten.com/200/126" /></a></li>
            <li><a data-target="#pic-5" data-toggle="tab"><img src="http://placekitten.com/200/126" /></a></li>
          </ul>
          <div class="action">
            <button class="add-to-cart btn btn-default" type="button">add to cart</button>
            <button class="like btn btn-default" type="button"><span class="fa fa-heart"></span></button>
          </div>
        </div>
        <div class="details col-md-6">
          <h3 class="product-title"><!--{{product}}--></h3>
          <div class="rating">

            <div style="color:#ff9f1a; font-size: 21px">
              <!-- <rating [(ngModel)]="rate2" [max]="5"  [readonly]="true"> </rating>-->
            </div>
            <span class="review-no">41 reviews</span>
          </div>
          <p class="product-description">{{productDto?.description}}</p>
          <h4 class="price">current price: <span>{{selectedProductDetail?.currentSalePrice}}</span></h4>
          <p class="vote"><strong>91%</strong> of buyers enjoyed this product! <strong>(87 votes)</strong></p>


          <div class="product-property">
            <div class="product-title">Sizes</div>
            <span *ngFor="let productDetailDto of productDto?.productDetailList">
              <button class="btn btn-primary "
                      [ngClass]="productDetailDto?.size === selectedProductDetail?.size ? 'selected-brand' : ''"
                      (click)="selectSize(productDetailDto)"> {{productDetailDto?.size}}</button>&nbsp;
            </span>

          </div>
          <div class="product-property">
            <div class="product-title">Models</div>
            <span *ngFor="let productDetailDto of productDto?.productDetailList">
              <button class="btn btn-primary" (click)="selectModel(productDetailDto)"> {{productDetailDto?.model}}</button>&nbsp;
            </span>
          </div>
          <div class="product-property">
            <div class="product-title">Brands</div>
            <span *ngFor="let productDetailDto of productDto?.productDetailList">
              <button class="btn btn-primary" (click)="selectBrand(productDetailDto)"> {{productDetailDto?.brandSetupId}}</button>&nbsp;
            </span>
          </div>
          <div class="product-property">
            <div class="product-title">Colors:</div>
            <span *ngFor="let productDetailDto of productDto?.productDetailList">
              <button class="btn btn-primary" (click)="selectColor(productDetailDto)"> {{productDetailDto?.colorSetupId}}</button>&nbsp;
            </span>
          </div>
          <h5 class="colors">colors:
            <span class="color orange not-available" data-toggle="tooltip" title="Not In store"></span>
            <span class="color green"></span>
            <span class="color blue"></span>
          </h5>

          <img [src]="selectedProductDetail?  selectedProductDetail.productGalleryList[0] : null"
               alt="" height="250" width="250" style="border: 2px solid gray;"/>

          <hr class="hr">
          <h6 class="h6-normal">Product Weight (in gram): <span id="weight">{{selectedProductDetail?.productWeightInGram}}</span>
          </h6>
          <h6 class="h6-normal">Manufacturing Year: <span id="year">{{selectedProductDetail?.year}}</span>
          </h6>

        </div>
      </div>
    </div>
  </div>

  <section class="tab-product pt-0 mt-5">
    <div class="container">
      <div class="row">

        <mat-tab-group>
          <mat-tab label="Details">

            {{productDto?.description}}
            <!--<div class="tab-content nav-material" id="top-tabContent">
              <div class="tab-pane fade show active" id="top-home" role="tabpanel" aria-labelledby="top-home-tab">
                <div class="product-tab-discription">
                  <div class="part">
                    <p>The Model is wearing a white blouse from our stylist's collection, see the image
                      for a mock-up of what the actual blouse would look like.it has text written on
                      it in a black cursive language which looks great on a white color.</p>
                  </div>
                  <div class="part">
                    <h5 class="inner-title">fabric:</h5>
                    <p>Art silk is manufactured by synthetic fibres like rayon. It's light in weight and
                      is soft on the skin for comfort in summers.Art silk is manufactured by synthetic
                      fibres like rayon. It's light in weight and is soft on the skin for comfort in
                      summers.</p>
                  </div>
                </div>
              </div>
            </div>

            <img class="detail-desc-decorate-image" src="https://ae01.alicdn.com/kf/Hcd6f1e2f57ea49a7929d7af4b01e7655i.jpg" slate-data-type="image">
            <img class="detail-desc-decorate-image" src="https://ae01.alicdn.com/kf/Hc7297b6ad7be40bead1854796f8bdbbcu.jpg" slate-data-type="image">-->


          </mat-tab>

          <mat-tab label="Specifications">
            {{productDto?.specification}}
            <div class="single-product-tables">
              <table>
                <tbody>
                <tr>
                  <td>Sleeve Length</td>
                  <td>Sleevless</td>
                </tr>

                </tbody>
              </table>

            </div>


          </mat-tab>

          <mat-tab label="Customer Reviews">

            <div id="transction-feedback" class="feedback-container" data-widget-cid="widget-1">
              <div class="customer-reviews" data-spm-anchor-id="0.0.0.i1.2367iFoMiFoMlZ">Customer Reviews (2732)</div>
              <div class="rate-detail util-clearfix">
                <table class="table table-sm" style="width: 400px; margin-left: 15px;">
                  <tr>
                    <td>5 Stars</td>
                    <td class="text-danger">89%</td>
                  </tr>
                  <tr>
                    <td>4 Stars</td>
                    <td class="text-danger">7%</td>
                  </tr>
                  <tr>
                    <td>3 Stars</td>
                    <td class="text-danger">2%</td>
                  </tr>
                  <tr>
                    <td>2 Stars</td>
                    <td class="text-danger">1%</td>
                  </tr>
                  <tr>
                    <td>1 Stars</td>
                    <td class="text-danger">1%</td>
                  </tr>
                </table>
              </div>
            </div>

            <form class="theme-form">
              <div class="form-row row">
                <div class="col-md-12">
                  <div class="media">
                    <label>Give Rating &nbsp;</label>
                    <div class="media-body ms-3">
                      <div class="rating three-star">
                        <div style="color:#ff9f1a; font-size: 21px">
                          <!-- <rating [(ngModel)]="rate" [max]="max"  [readonly]="isReadonly"> </rating>-->
                        </div>


                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <label for="review">Comment</label>
                  <textarea class="form-control" placeholder="Wrire Your Testimonial Here" id="exampleFormControlTextarea1" rows="6"></textarea>
                </div>
                <div class="col-md-12">
                  <button class="btn btn-solid" type="submit">Submit your Review</button>
                </div>
              </div>
            </form>
          </mat-tab>
        </mat-tab-group>

      </div>
    </div>
  </section>



  <!--
  Recommendations
  <section class="section-b-space ratio_asos mt-5">
    <div class="container">
      <div class="row">
        <div class="col-12 product-related">
          <h2>Seller Recommendations</h2>
        </div>
      </div>
      <div class="row search-product">
        <div class="col-xl-2 col-md-4 col-6">
          <div class="product-box">
            <div class="img-wrapper">
              <div class="front">
                <a href="#" class="bg-size blur-up lazyloaded"> <img src="assets/custom-image/image/coffee.jpg" class="img-fluid blur-up lazyload bg-img" alt="" ></a>
              </div>
            </div>
            <div class="product-detail">
              <div class="rating"><span class="_1kNf9" data-spm-anchor-id="a2g0o.detail.1000013.i1.3f0f7675h2IJaa">20 sold</span><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i>
              </div>
              <a href="product-page(no-sidebar).html">
                <h6>Slim Fit Cotton Shirt</h6>
              </a>
              <h4>$500.00</h4>
            </div>
          </div>
        </div>
        <div class="col-xl-2 col-md-4 col-6">
          <div class="product-box">
            <div class="img-wrapper">
              <div class="front">
                <a href="#" class="bg-size blur-up lazyloaded"> <img src="assets/custom-image/image/coffee.jpg" class="img-fluid blur-up lazyload bg-img" alt="" ></a>
              </div>
            </div>
            <div class="product-detail">
              <div class="rating"><span class="_1kNf9" data-spm-anchor-id="a2g0o.detail.1000013.i1.3f0f7675h2IJaa">20 sold</span><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i>
              </div>
              <a href="product-page(no-sidebar).html">
                <h6>Slim Fit Cotton Shirt</h6>
              </a>
              <h4>$500.00</h4>
            </div>
          </div>
        </div>
        <div class="col-xl-2 col-md-4 col-6">
          <div class="product-box">
            <div class="img-wrapper">
              <div class="front">
                <a href="#" class="bg-size blur-up lazyloaded"> <img src="assets/custom-image/image/coffee.jpg" class="img-fluid blur-up lazyload bg-img" alt="" ></a>
              </div>
            </div>
            <div class="product-detail">
              <div class="rating"><span class="_1kNf9" data-spm-anchor-id="a2g0o.detail.1000013.i1.3f0f7675h2IJaa">20 sold</span><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i>
              </div>
              <a href="product-page(no-sidebar).html">
                <h6>Slim Fit Cotton Shirt</h6>
              </a>
              <h4>$500.00</h4>
            </div>
          </div>
        </div>
        <div class="col-xl-2 col-md-4 col-6">
          <div class="product-box">
            <div class="img-wrapper">
              <div class="front">
                <a href="#" class="bg-size blur-up lazyloaded"> <img src="assets/custom-image/image/coffee.jpg" class="img-fluid blur-up lazyload bg-img" alt="" ></a>
              </div>
            </div>
            <div class="product-detail">
              <div class="rating"><span class="_1kNf9" data-spm-anchor-id="a2g0o.detail.1000013.i1.3f0f7675h2IJaa">20 sold</span><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i>
              </div>
              <a href="product-page(no-sidebar).html">
                <h6>Slim Fit Cotton Shirt</h6>
              </a>
              <h4>$500.00</h4>
            </div>
          </div>
        </div>
        <div class="col-xl-2 col-md-4 col-6">
          <div class="product-box">
            <div class="img-wrapper">
              <div class="front">
                <a href="#" class="bg-size blur-up lazyloaded"> <img src="assets/custom-image/image/coffee.jpg" class="img-fluid blur-up lazyload bg-img" alt="" ></a>
              </div>
            </div>
            <div class="product-detail">
              <div class="rating"><span class="_1kNf9" data-spm-anchor-id="a2g0o.detail.1000013.i1.3f0f7675h2IJaa">20 sold</span><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i>
              </div>
              <a href="product-page(no-sidebar).html">
                <h6>Slim Fit Cotton Shirt</h6>
              </a>
              <h4>$500.00</h4>
            </div>
          </div>
        </div>
        <div class="col-xl-2 col-md-4 col-6">
          <div class="product-box">
            <div class="img-wrapper">
              <div class="front">
                <a href="#" class="bg-size blur-up lazyloaded"> <img src="assets/custom-image/image/coffee.jpg" class="img-fluid blur-up lazyload bg-img" alt="" ></a>
              </div>
            </div>
            <div class="product-detail">
              <div class="rating"><span class="_1kNf9" data-spm-anchor-id="a2g0o.detail.1000013.i1.3f0f7675h2IJaa">20 sold</span><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i>
              </div>
              <a href="product-page(no-sidebar).html">
                <h6>Slim Fit Cotton Shirt</h6>
              </a>
              <h4>$500.00</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>-->
</div>
