/* Common*/
@import 'src/assets/scss/common/common';

:root {
    --theme-deafult: #28a746;
    --theme-gradient1: #01effc;
    --theme-gradient2: #485ff2;
}

@import 'ui-style';

.shadow1 {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
