@import "../variable/color-variable";

.bg-image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  left: 0;
  margin: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}
.date-time {
  display: inline-block;
  padding: 50px 0;
  position: relative;
  text-align: center;
  width: 100%;
  z-index: 2;
  >span#date {
    color: $color-dark;
    display: inline-block;
    font-size: 25px;
    font-weight: bold;
    margin-top: 10px;
    max-width: 90%;
    text-shadow: 0 0 3px rgba(255, 255, 255, 0.9);
  }
  .realtime {
    display: inline-block;
    text-align: center;
    width: 100%;
    >span {
      color: $color-primary;
      font-size: 40px;
      font-weight: 500;
    }
  }
}

/*todo why i can not use advertisement-box*/
.advertisement {
  display: inline-block;
  width: 100%;
  margin-bottom: 30px;
  h4 {
    color: $color-muted-medium;
    font-size: 10px;
    margin-bottom: 7px;
  }
  img {
    width:100%;
    height:200px;
  }
}


.premium-course {
  >li {
    figure {
      display: inline-block;
      margin-bottom: 10px;
      position: relative;
      width: 100%;
      img {
        border-radius: 5px;
      }
      .tag {
        background: $color-dark none repeat scroll 0 0;
        border-radius: 0 20px 20px 0;
        color: $color-white;
        font-size: 12px;
        left: 0;
        padding: 2px 10px;
        position: absolute;
        top: 10px;
      }
    }
    .vid-course {
      >h5 {
        display: inline-block;
        font-weight: 500;
        line-height: 19px;
        width: 100%;
        font-size: 15px;
      }
      >h5 a {
        text-decoration: none;
        color: inherit;
      }
      .price {
        float: right;
        font-weight: 500;
        color: $color-primary;
      }
    }
  }

}


.recent-links {
  >li {
    >figure {
      display: inline-block;
      margin-bottom: 0;
      vertical-align: top;
      width: 81px;
    }
    figure {
      img {
        border-radius: 5px;
      }
    }
  }
  .re-links-meta {
    display: inline-block;
    padding-left: 7px;
    vertical-align: middle;
    width: 59.5%;
    >h6 {
      font-size: 13px;
      font-weight: 400;
      margin-bottom: 0;
    }
    >h6 a {
      text-decoration: none;
      color: inherit;
    }
    >span {
      font-size: 11px;
      font-weight: 300;
      color: $color-muted-medium;
    }
  }
}
