<div class="category-page py-3">
  <div class="container">
    <div class="row">
      <div class="col-md-3">


        <!--<form [formGroup]="form" >
          <label formArrayName="orders" *ngFor="let order of ordersFormArray.controls; let i = index">
            <input type="checkbox" [formControlName]="i">
            {{ordersData[i]['name']}}
          </label>
          <button [disabled]="!form.valid" (click)="submit()">submit</button>
        </form>-->


        <div class="collection-filter" [formGroup]="categoryFilterFg">
          <div class="collection-filter-block">
            <div class="collection-collapse-block" [class.open]="brandCollapse" *ngIf="brandSetupDtoList.length > 0">
              <h3 class="collapse-block-title" (click)="brandCollapse = !brandCollapse">Brand</h3>
              <div class="collection-collapse-block-content">
                <div class="collection-brand-filter">

                    <div formArrayName="selectedBrandListFa">
                      <div *ngFor="let item of selectedBrandListFa.controls; let index = index" [formGroupName]="index">
                        <input type="checkbox" formControlName="selected">
                        {{brandSetupDtoList[index]['name']}}
                      </div>
                    </div>

                </div>
              </div>
            </div>

            <div class="collection-collapse-block" [class.open]="priceCollapse" >
              <h3 class="collapse-block-title" (click)="priceCollapse = !priceCollapse">Price range</h3>
              <div class="row mt-3">
                <div class="col-md-5">
                  <div class="form-group"> <!--[(ngModel)]="minPrice"-->
                    <input class="form-control"  formControlName="minPrice" placeholder="min"/>
                  </div>
                </div>
                <div class="col-md-7">
                  <div class="form-group"> <!--[(ngModel)]="maxPrice"-->
                    <input class="form-control" formControlName="maxPrice" placeholder="max"/>
                  </div>
                </div>
              </div>
            </div>

            <button class="btn btn-primary mb-3" (click)="applyFilter()">Apply</button>
          </div>
        </div>
      </div>

      <div class="collection-content col-md-9">
        <div class="top-banner-wrapper">
          <div class="top-banner-content mt-3">
            <h4>Cloth</h4>
          </div>
        </div>
        <div class="collection-product-wrapper" id="products">
          <app-grid [productDetailList]="productDetailList"  [layoutView]="layoutView" [sortBy]="sortBy"
                    (setGrid)="updateGridLayout($event)" (setLayout)="updateLayoutView($event)"
                    (sortedBy)="sortByFilter($event)">
          </app-grid>

          <div class="product-wrapper-grid mt-3" [ngClass]="layoutView">
            <div class="row">
              <div class="mt-3" [ngClass]="grid" *ngFor="let productDetail of productDetailList">
                <div class="product-box">
                  <app-product-box [productDetail]="productDetail"
                                   [organizationName]="organizationName"
                                   [thumbnail]="false" [cartModal]="true" [loader]="true"></app-product-box>
                </div>
              </div>
              <div class="col-sm-12 text-center pb-5 mt-5 no-found" *ngIf="!productDetailList.length">
                <img src="assets/images/empty-search.jpg" class="img-fluid mb-4">
                <h3>Sorry! Couldn't find the product you were looking For!!! </h3>
                <p>Please check if you have misspelt something or try searching with other words.</p>
                <a [routerLink]="['/shop/collection/left/sidebar']" class="btn btn-solid">continue shopping</a>
              </div>
            </div>
          </div>
          <div class="mt-3">
            <!--[totalItems]="this.page.totalElements"-->
            <pagination [itemsPerPage]="getSize()"
                        [boundaryLinks]="true"

                        [rotate]="true"
                        [(ngModel)]="currentPageNumber"
                        [disabled]="false"
                        (pageChanged)="onPageChange($event)" >
            </pagination>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

