@import "./src/assets/scss/common/_color-variables.scss";
:host{
    .service-icon-block {
      display: flex;
      align-items: center;
      justify-content: center;
      .media {
        padding-top: 23px;
        padding-bottom: 23px;
        align-items: center;
        display: flex;
        align-items: flex-start;
        .media-body {
          flex: 1;
        }
      }
      svg {
        margin-right: 12px;
        width: 60px;
        height: 60px;
        transition: all 0.5s ease;
        path {
          fill: var(--theme-deafult);
        }
      }
      img {
        margin-right: 12px;
      }
      h4 {
        font-weight: 700;

        letter-spacing: 0.03em;
      }
      p {
        text-transform: capitalize;
        margin-bottom: 0;
      }
      +.service-block {
        border-left: 1px solid lighten($black, 86.5%);
      }
      &:hover {
        svg {
          animation: pulse 1000ms ease-in-out;
          transition: all 0.3s ease;
        }
        h4 {
          color: var(--theme-deafult);
          transition: all 0.3s ease;
        }
      }
    }

}
