@import "../variable/color-variable";

.your-grp {
  display: inline-block;
  padding-left: 5px;
  vertical-align: middle;
  max-width: 70%;
  >h5 {
    font-size: 13px;
    font-weight: 500;
    >a {
      color: inherit;
      text-decoration: none;
    }
  }
  >a {
    color: $color-muted-medium;
    display: inline-block;
    font-size: 12px;
    width: 100%;
    >span {
      border: 1px solid;
      border-radius: 4px;
      font-size: 10px;
      padding: 1px 3px;
      color: $color-danger;
    }
  }
  >a:hover {
    text-decoration: none;
    color: $color-muted-medium;
  }
  >a.promote {
    text-decoration: underline;
    color: $color-primary;
  }
}

.ask-question {
  display: inline-block;
  width: 100%;
  >i {
    color: $color-primary;
    display: inline-block;
    font-size: 30px;
    vertical-align: top;
  }
  >h6 {
    display: inline-block;
    font-size: 13px;
    padding-left: 10px;
    vertical-align: top;
    width: 83%;
  }
}


.rec-events {
  border-radius: 5px;
  color: $color-white;
  margin: 0 auto 20px;
  overflow: hidden;
  padding: 15px 10px;
  position: relative;
  text-align: center;
  width: 100%;
  &:last-child {
    margin-bottom: 0;
  }
  >i {
    display: inline-block;
    font-size: 40px;
    margin-bottom: 10px;
  }
  >h6 {
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 500;
    color: $color-white;
    >a {
      color: inherit;
      text-decoration: none;
    }
  }
  >img {
    opacity: 0.4;
    position: absolute;
    right: -30px;
    top: 10px;
  }
}


.widget {
  .sponsors-ad {
    margin-top: 10px;
    >li {
      figure {
        display: inline-block;
        margin-bottom: 0;
        vertical-align: middle;
        img {
          border-radius: 4px;
        }
      }
      .sponsor-meta {
        display: inline-block;
        padding-left: 8px;
        vertical-align: middle;
        width: 60%;
        h5 {
          font-size: 14px;
          font-weight: 500;
          margin-bottom: 0;
          a {
            color: inherit;
            text-decoration: none;
          }
          &:hover {
            color: $color-primary;
          }
        }
        >a {
          color: $color-muted-medium;
          font-size: 12px;
        }
        a:hover {
          text-decoration: none;
        }
      }
    }
  }
}

.followers {
  max-height: 260px;
  position: relative;
  >li {
    figure {
      display: inline-block;
      margin-bottom: 0;
      max-width: 40px;
      min-width: 40px;
      vertical-align: middle;
      width: 40px;
      img {
        border-radius: 100%;
      }
    }
  }
}

.friend-meta {
  display: inline-block;
  padding-left: 10px;
  vertical-align: middle;
  width: 79%;
  >h4 {
    display: inline-block;
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 0;
    width: 60%;
  }
  >a {
    color: $color-primary;
    float: right;
    font-size: 12px;
    margin-top: 3px;
    position: relative;
  }
  a:hover {
    text-decoration: none;
  }
  span {
    color: $color-muted-medium;
    display: inline-block;
    font-size: 11px;
    width: 100%;
  }
  h4 {
    a {
      font-weight: 500;
      color: inherit;
    }
    a:hover {
      color: $color-primary;
      text-decoration: none;
    }
  }
}


.friend-box {
  background: $color-white none repeat scroll 0 0;
  border: 1px solid $color-muted;
  border-radius: 4px;
  display: inline-block;
  margin-bottom: 20px;
  position: relative;
  width: 100%;
  >figure {
    margin: 0;
    position: relative;
    >img {
      border-radius: 4px;
      display: inline-block;
      width: 100%;
    }
    >span {
      color: $color-white;
      font-size: 12px;
      font-weight: 500;
      position: absolute;
      bottom: 10px;
      right: 10px;
    }
  }
  .frnd-meta {
    display: inline-block;
    padding: 0 15px 20px;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    >.img-item {
      max-width: 66px;
      width: 66PX;
      height: 66PX;
      border: 2px solid $color-white;
      border-radius: 100%;
      display: inline-block;
      margin-top: -30px;
      z-index: 2;
    }
    >.frnd-name {
      margin-top: 10px;
      width: 120px;
      >a {
        display: inline-block;
        font-size: 13px;
        font-weight: 500;
        color: inherit;
        transition: all 0.2s linear 0s;
        width: 100%;
      }
      >span {
        display: inline-block;
        font-size: 12px;
        color: $color-muted-medium;
      }
    }
  }
}
