<div *ngIf="!loader" class="product-box-inside">
  <div class="img-wrapper">
    <div class="image-front">
      <img [src]="productDetail?.imageUrl || 'assets/images/placeholder/placeholder.jpg'"
           alt="product" height="250" style="border: 2px solid gray;"/>
      <!-- class="img-fluid lazy-loading" -->
    </div>
    
    <div class="product-image-label">
      <a href="javascript:void(0)" title="Add to cart" (click)="addToCart(productDetail)">
        <i class="ti-shopping-cart"></i>
      </a>
      <a href="javascript:void(0)" title="Add to wishlist" (click)="addToWishlist(productDetail)">
        <i class="ti-heart" aria-hidden="true"></i>
      </a>
      <a href="javascript:void(0)" title="Quick View" >
        <i class="ti-search" aria-hidden="true"></i>
      </a>
      <a href="javascript:void(0)" title="Compare" (click)="addToCompare(productDetail)">
        <i class="ti-reload" aria-hidden="true"></i>
      </a>
    </div>
  </div>
  
  <div class="product-detail">
    <a href="/{{getEncodeURI(organizationName)}}/product/{{getEncodeURI(productDetail.seoUrl)}}">
      <div class="product-title">{{ productDetail?.seoTitle | truncate:9:'...' }}</div>
    </a>
    <p>{{ productDetail?.description}}</p>
    <h4>
      {{ productDetail?.price}}
      <del *ngIf="productDetail?.basePrice && productDetail?.basePrice>0">
        <span class="money"> BDT {{ productDetail?.basePrice}}</span></del>
      <span> BDT {{ productDetail?.currentSalePrice}}</span>
    </h4>
  </div>
</div>

<div *ngIf="loader"  class="">
  <div class="">
    <ngx-skeleton-loader [theme]="{ 'background-color': '#e8e8e8', 'border-radius': '0', height: '230px' }"></ngx-skeleton-loader>
  </div>
  <div class="">
    <div>
      <ngx-skeleton-loader [theme]="{ 'background-color': '#e8e8e8', width: '130px', 'border-radius': '15px',  height: '15px', 'margin-bottom': '2px'}">
      </ngx-skeleton-loader>
    </div>
    <div>
      <ngx-skeleton-loader [theme]="{ 'background-color': '#e8e8e8', width: '160px', 'border-radius': '15px',  height: '15px', 'margin-bottom': '2px'}">
      </ngx-skeleton-loader>
    </div>
    <div>
      <ngx-skeleton-loader [theme]="{ 'background-color': '#e8e8e8', width: '70px', 'border-radius': '15px',  height: '15px', 'margin-bottom': '2px'}">
      </ngx-skeleton-loader>
    </div>
  </div>
</div>
