
<label class="col-form-label"><span *ngIf="required === ''">*</span> {{label}}</label>

<div *ngIf="fileUploadProgress" class="progress">
  <div class="progress-bar progress-bar-info progress-bar-striped"
       role="progressbar"   attr.aria-valuenow="{{ fileUploadProgress }}"
       aria-valuemin="0"   aria-valuemax="100" [ngStyle]="{ width: fileUploadProgress + '%' }">
    {{ fileUploadProgress }}%
  </div>
</div>

<div class="input-group my-2">
  <div class="custom-file">
    <input type="file" class="custom-file-input" id="productImage" accept="image/*"
           (change)="onSelectFile($event)" >
    <label class="custom-file-label" for="productImage">{{label2}} </label>
  </div>
</div>





