<!-- side-bar single product slider start -->
<div class="theme-card">
    <h5 class="title-border">{{ title }}</h5>
    <owl-carousel-o [options]="NewProductSliderConfig" class="offer-slider">
        <ng-container *ngFor="let productDetailDto of productDetailDtoList | slice:0:4 ">
            <ng-template carouselSlide>
                <div>
                  <div class="media" *ngFor="let productDetailDto of productDetailDtoList | slice:0:4 ">
                    <a [routerLink]="['/shop/product/left/sidebar/', productDetailDto.seoTitle]">
                      <!--<img class="img-fluid w-auto"
                           [defaultImage]="'assets/images/product/placeholder.jpg'"
                           [lazyLoad]="product.images[0].src" alt="">-->
                        <img class="img-fluid w-auto" src="https://source.unsplash.com/random/443x304?electronic" alt="">

                    </a>
                    <div class="media-body align-self-center">
                      <!-- <bar-rating [rate]="5" [readOnly]="true"></bar-rating> -->
                      <a [routerLink]="['/shop/product/left/sidebar/', productDetailDto.seoTitle]">
                      <h6>{{ productDetailDto.seoTitle | titlecase }}</h6></a>
                      <h4>
                        <!--{{ productDetailDto?.currentSalePrice * productService.Currency?.price | currency:productService.Currency?.currency:'symbol' }}-->
                        <del *ngIf="productDetailDto?.currentSalePrice">
                          <span class="money">
                            <!--{{ productDetailDto?.currentSalePrice * productService.Currency?.price | currency:productService.Currency?.currency:'symbol' }}-->
                          </span>
                        </del>
                      </h4>
                    </div>
                  </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div>
                  <div class="media" *ngFor="let productDetailDto of productDetailDtoList | slice:3:6 ">
                    <a [routerLink]="['/shop/product/left/sidebar/', productDetailDto.seoTitle]">
                      <!--<img class="img-fluid w-auto"
                           [defaultImage]="'assets/images/product/placeholder.jpg'"
                           [src]="productDetailDto.images[0].src" alt="">-->
                      <!--<img class="img-fluid w-auto" [src]="productDetailDto.ima[0].src" alt="">-->
                    </a>
                    <div class="media-body align-self-center">
                      <!-- <bar-rating [rate]="5" [readOnly]="true"></bar-rating> -->
                      <a [routerLink]="['/shop/product/left/sidebar/', productDetailDto.seoTitle]">
                      <h6>{{ productDetailDto.seoTitle | titlecase }}</h6></a>
                      <h4>
                        <!--{{ productDetailDto?.currentSalePrice * productService.Currency?.price | currency:productService.Currency?.currency:'symbol' }}-->
                        <del *ngIf="productDetailDto?.currentSalePrice">
                          <span class="money">
                            <!--{{ productDetailDto?.currentSalePrice * productService.Currency?.price | currency:productService.Currency?.currency:'symbol' }}-->
                          </span>
                        </del>
                      </h4>
                    </div>
                  </div>
                </div>
            </ng-template>
        </ng-container>
    </owl-carousel-o>
</div>
<!-- side-bar single product slider end -->
