
.logo-block {
  a {
    &:focus {
      outline: none;
    }
  }
  img {
    filter: grayscale(100%);
    opacity: 0.5;
    transition: .5s ease;
    margin: 0 auto;
    &:focus {
      outline: none;
    }
    &:hover {
      filter: grayscale(0);
      opacity: 1;
      transition: .5s ease;
    }
  }
}
