/* color variables*/
$white: #ffffff;
$white-dark: #eeeeee;
$white-1:#f1f3f5;
$white-2:#eaedef;
$white-3:#e7eaec;
$white-4:#dee2e6;
$white-5:#cfd4da;

$black: #000000;

$grey: #777777;
$grey-light: #a1a1a1;
$grey01:#111111;
$grey2:#555555;
$grey3: #efefef;
$grey4: #444444;
$grey5: #888888;
$grey6:#6f6f6f;
$grey7:#40494f;
$grey8:#c0c0c0;
$grey-dark: #2d2a25;
$grey-darken: #393230;
$light-grey: #d0edff;

$red: #ff647f;
$green: #6fb866;
$blue: #63b4f2;
$pink: #f1e7e6;
$yellow: #f2f896;
$skyblue: #7ee7ec;
$orange: #ffb17a;
$purple: #eeb1d7;
$violet: #a06da0;
$brown: #a57372;
$lightgreen: #90ee90;
$olive: #808000;
$navy: #505c80;
$maroon: #804f56;
$star-yellow: #ffa200;
$color-red:#ff4c3b;

$gradient1: #01effc;
$gradient2: #485ff2;

$dark-border-color:#374558;
$dark-font: #222222;
$font-color:#333333;
$border:#dddada;
$round-border: #dddddd;
$grey-lighter: #f9f9f9;
$theme-deafult: #ff8084;
$grey-link: #948e8c;
$grey-font: #938d8c;
$dark-footer: #2e2726;
$form-bg: #f5f2f2;
$grey-shade: #7f786d;
$darker-footer: #25221e;
$border-color: #38352f;
$border-grey: #f1f5f4;
$font-grey: #aaaaaa;
$border-bottom-g:#525252;
$top-header: #f8f8f8;
$header-font: #999999;
$shadow: #ededed;
$box-border: #ecececa8;
$grey-about: #f7f7f7;
$sidebar-border: #f5f2f2;
$sidebar-color:#938d8c;
$modal: #ffba00;
$bg-color: #d0edff;
$bg-color1: #f1e7e6;
$bg-color2: #bfbfbf;
$icon: #6f6f6f;
$left-sidebar: #2b2b2b;

// dark layput variable //
$dark-body:#2b2b2b;
$dark-top:#232323;
$dark-border:#404040;
$dark-link:#cbcbcb;
$dark-span:#929292;
$dark-footer-bg:#383838;


/*Theme colors variables*/
$primary-color: #088dcd;
$secondary-color: #fafafa;
$success-color: #008d00  ;
$info-color: #00a8ff  ;
$warning-color: #fec42d;
$danger-color: #ff7373 ;
$light-color: #f8f8f9 ;
$semi-dark: #aaaaaa;
$light-semi-gray: #eff0f1;
$light-gray: #e8ebf2;
$dark-gray: #898989;
$dark-color: #2a3142;
$gray-60: #999999 ;
$transparent-color: transparent;
$auth-bg-color: #fafafa;
$light: #f6f6f6;
$light-text: #999;
