/*font variables*/
$font-awesome: FontAwesome;

$assetspath: "/assets/images";

$text-primary-font-family:'Roboto', sans-serif;
$text-primary-font-size: 14px;

$header-primary-font-family: 'Roboto', sans-serif;
$header-primary-font-size: 23px;
