@import "../variable/color-variable";

ul.chat-rooms {
  float: unset;
  width: 100%;
}
.chat-rooms {
  display: inline-block;
  list-style: outside none none;
  margin: 0;
  padding: 0;
  width: 100%;
  li {
    >img {
      border-radius: 100%;
      display: inline-block;
      width: 100%;
    }
    background: $color-white none repeat scroll 0 0;
    border: 1px solid $color-muted;
    border-radius: 6px;
    display: inline-block;
    padding: 10px;
    position: relative;
    text-align: center;
    width: 100%;
    >a.join {
      background: $color-muted none repeat scroll 0 0;
      border-radius: 5px;
      font-size: 12px;
      color: inherit;
      padding: 4px 14px;
      transition: all 0.2s ease 0s;
      &:hover {
        color: $color-white;
        background: $color-primary;
      }
    }
    >a.say-hi {
      background: $color-muted none repeat scroll 0 0;
      border: 1px solid $color-primary;
      border-radius: 100%;
      color: $color-primary;
      display: inline-block;
      height: 30px;
      line-height: 30px;
      text-align: center;
      width: 30px;
      transition: all 0.2s ease 0s;
      margin-left: 5px;
      &:hover {
        transform: scale(1.1);
      }
    }
    >span {
      display: inline-block;
      font-size: 14px;
      margin: 10px 0;
      width: 100%;
    }
    .room-avatar {
      .status {
        &::before {
          border: 2px solid $color-white;
          bottom: 0;
          height: 14px;
          top: auto;
          width: 14px;
        }
      }
    }
  }
  .room-avatar {
    >img {
      border: 1px solid $color-secondary-deep;
      border-radius: 100%;
      display: inline-block;
      padding: 2px;
      width: auto;
    }
  }
}
.chatroom-title {
  display: inline-block;
  margin-bottom: 20px;
  width: 100%;
  >i {
    display: inline-block;
    line-height: initial;
    vertical-align: middle;
    color: $color-primary;
    font-size: 18px;
  }
  >span {
    display: inline-block;
    font-weight: 500;
    margin-left: 5px;
    em {
      color: $color-muted-medium;
      font-size: 11px;
      font-style: normal;
      font-weight: normal;
    }
  }
}
.create-newroom {
  color: $color-primary;
  float: right;
  font-size: 12px;
  font-weight: 500;
  text-decoration: underline;
}
.room-avatar {
  display: inline-block;
  position: relative;
  width: 88px;
}
