@import "../variable/color-variable";

.filtr-tabs {
  display: inline-block;
  list-style: outside none none;
  margin: 0 0 20px;
  padding: 0;
  width: 100%;
  >li {
    display: inline-block;
    margin-right: 5px;
    >a {
      background: $color-muted none repeat scroll 0 0;
      border-radius: 6px;
      color: $color-primary;
      display: inline-block;
      padding: 7px 20px;
      font-size: 14px;
      &:hover {
        background: $color-muted none repeat scroll 0 0;
      }
    }
    >a.active {
      background: $color-primary none repeat scroll 0 0;
      color: $color-white;
    }
  }
}

.new-post {
  display: inline-block;
  position: relative;
  width: 100%;
  >form {
    display: inline-block;
    width: 100%;
    position: relative;
    input {
      border: 1px solid rgba(0, 0, 0, 0.2);
      border-radius: 30px;
      padding: 10px 20px 10px 50px;
      width: 100%;
    }
    >i {
      font-size: 16px;
      left: 20px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
.new-title {
  display: inline-block;
  font-weight: 500;
  margin-bottom: 20px;
  width: 100%;
}

.upload-media {
  display: inline-block;
  list-style: outside none none;
  margin: 20px 0 0;
  padding-left: 0;
  width: 100%;
  >li {
    background: transparent none repeat scroll 0 0;
    border-radius: 30px;
    display: inline-block;
    font-size: 12px;
    padding: 6px 20px;
    transition: all 0.2s linear 0s;
    vertical-align: middle;
    cursor: pointer;
    >a {
      display: inline-block;
      width: 100%;
      color: inherit;
      >i {
        img {
          max-width: 20px;
        }
      }
      i {
        display: inline-block;
        margin-right: 5px;
        vertical-align: middle;
      }
      >span {
        font-size: 12px;
        font-weight: 500;
        vertical-align: middle;
      }
    }
    &:hover {
      background: $color-muted none repeat scroll 0 0;
    }
  }
}
