@import "../variable/color-variable";

/*--- load more ---*/
.loadmore {
  display: inline-block;
  text-align: center;
  width: 100%;
  >div i {
    color: $color-primary;
    font-size: 2rem;
    margin-bottom: 10px;
  }
  >a {
    color: $color-white;
    background: $color-primary;
    display: inline-block;
    padding: 10px;
    text-align: center;
    width: 100%;
    font-weight: 500;
    border-radius: 30px;
    max-width: 50%;
    border: 1px solid transparent;
    transition: all 0.2s linear 0s;
    &:hover {
      background: transparent none repeat scroll 0 0;
      border: 1px solid $color-primary;
      color: $color-primary;
    }
  }

}

