<div class="display-group-wrapper otl0 my-3">
  <div class="title1 pt-3">
    <!--<h4>{{displayGroupUnique.groupName}}</h4>-->
    <h2 class="title-inner1">{{displayGroupUnique.groupName}}</h2>
  </div>
  <!--<pre>{{ productDetailList |json}}</pre>-->
  <div class="container">
    <div class="row">
      <div class="col">
        <owl-carousel-o class="product-m no-arrow" [options]="ProductSliderConfig">
          <ng-container *ngFor="let productDetail of productDetailList">
            <ng-template carouselSlide>
              <!--{{productDetail?.basePrice}}-->
              <app-product-detail-box [productDetail]="productDetail" [organizationName]="organizationName">
              </app-product-detail-box>
            </ng-template>
          </ng-container>
        </owl-carousel-o>
      </div>
    </div>
  </div>

</div>
