//color styles
$color-primary: #088dcd;
$color-primary-light: #6BBBE1;
$color-primary-deep: #055f8b;
$color-secondary: #fafafa;
$color-secondary-medium: #f3f5f5;
$color-secondary-deep: #CCCCCC;
$color-muted: #e1e8ed;
$color-muted-deep: #6c757d;
$color-muted-medium: #8f97af;
$color-white: #fff;
$color-accent: #8c6ad2;
$color-dark: #1d3554;
$color-danger: #ff7373;
$color-danger-deep: #E44444;
$color-warning: #fec42d;
$color-success: #008d00;
$color-success-light: #82B440;
