
<div class="form-group">
  <label class="col-form-label"><b><span *ngIf="required">*</span> {{ label }}</b></label>

  <select class="form-control"  [(ngModel)]="data" (ngModelChange)="selectChange($event)">
    <option *ngFor="let obj of objList" [ngValue]="obj" [attr.selected]="isSelected(obj)">
      {{showingOptionValues(obj)}}
    </option>
  </select>

  <div *ngIf="this.control.invalid && (this.control.dirty || this.control.touched)" class="alert alert-danger">
    <div *ngIf="errorWithMessage.length > 0">
      {{errorWithMessage[0].errorMessage}}
    </div>
  </div>

</div>

<!--to compare https://stackoverflow.com/a/49559488/4549082-->
<!--  <app-rf-select label="Select a person"  formControlName="person" [sltObj]="sltObj"
                  [objList]="personList" showProp="name,id" eqProp="id"></app-rf-select>-->



