.modal-open {
  padding-right: 0 !important;
}

#sizemodal {
  padding-right: 0 !important;
}

.modal-content {
  animation: modal-animation 0.5s ease;
}

@keyframes modal-animation {
  0% {
    transform: scale(0)
  }
  25% {
    transform: scale(0.7)
  }
  75% {
    transform: scale(1.01)
  }
  100% {
    transform: scale(1)
  }
}

.theme-modal {
  padding-right: 0 !important;
  .modal-dialog {
    .modal-content {
      .modal-body {
        padding: 15px;
        background-image: linear-gradient(135deg, var(--theme-deafult) 5.77%, $white 5.77%, $white 25%, $grey01 25%, $grey01 30.77%, $white 30.77%, $white 50%, var(--theme-deafult) 50%, var(--theme-deafult) 55.77%, $white 55.77%, $white 75%, $grey01 75%, $grey01 80.77%, $white 80.77%, $white 100%);
        background-size: 36.77px 36.77px;
        .modal-bg {
          background-color: $white;
          padding: 45px;
          .close {
            padding-right: 10px;
            padding-top: 5px;
            position: absolute;
            right: 17px;
            top: 0;
            span {
              color: $black;
            }
          }
          .age-content {
            h2 {
              border-bottom: 1px dashed $grey;
              text-align: center;
              margin-bottom: 30px;
              padding-bottom: 30px;
              font-weight: 700;
            }
            h4 {
              margin-bottom: 30px;
              text-align: center;
              color: #272727;
              font-size: 18px;
              font-weight: 400;
              text-transform: capitalize;
            }
            form {
              margin: 0 auto;
              text-align: center;
              >div {
                display: flex;
                margin-bottom: 10px;
              }
              .form-control {
                padding-top: 15px;
                padding-bottom: 15px;
                text-align: center;
                font-size: 12px;
                height: 50px;
                border-radius: 0;
                width: 100%;
                letter-spacing: 0.05em;
              }
            }
          }
          .offer-content {
            img {
              margin-bottom: 40px;
            }
            h2 {
              margin-bottom: 30px;
              text-align: center;
            }
            form {
              .form-group {
                margin: 0 auto;
                text-align: center;
                .form-control {
                  padding-top: 15px;
                  padding-bottom: 15px;
                  text-align: center;
                  font-size: 12px;
                  max-width: 640px;
                  left: 0;
                  right: 0;
                  margin: 0 auto;
                  letter-spacing: 0.05em;
                }
                .btn-solid,
                .btn-outline {
                  margin-top: 10px;
                  text-align: center;
                }
              }
            }
          }
        }
      }
    }
    .quick-view-modal {
      button {
        &.close {
          position: absolute;
          z-index: 1;
          right: 10px;
          top: 5px;
        }
      }
      .view-detail {
        font-size: 14px;
        font-weight: 700;

      }
    }
  }
  &.cart-modal {
    .modal-dialog {
      .modal-content {
        .modal-body {
          .modal-bg {
            padding: 25px;
            &.addtocart {
              .media {
                a {
                  img {
                    max-width: 150px;
                  }
                }
                .media-body {
                  padding: 0 15px;
                  a {
                    h6 {
                      font-size: 16px;
                      i {
                        margin-right: 8px;
                        color: #fff;
                        background: #19a340;
                        font-size: 14px;
                        width: 18px;
                        height: 18px;
                        line-height: 18px;
                        border-radius: 50%;
                      }
                    }
                  }
                  .buttons {
                    a {
                      display: inline-block;
                      font-size: 16px;
                      padding: 6px 10px;
                      margin: 0 6px;
                    }
                  }
                }
              }
              #upsell_product {
                .product-box {
                  padding-left: 10px;
                  padding-right: 10px;
                  .product-detail {
                    text-align: center;
                    h6 {
                      font-weight: 700;
                      text-transform: capitalize;
                      a {
                        color: var(--theme-deafult);
                      }
                    }
                  }
                }
              }
            }
          }
          .upsell_payment {
            padding-top: 15px;
          }
          .product-upsell {
            margin: 20px 0 10px;
            h4 {
              font-weight: 600;
            }
          }
        }
      }
    }
  }
  &.exit-modal {
    .media {
      .media-body {
        h4 {
          font-size: 20px;
          line-height: 1.2;
          color: var(--theme-deafult);
          font-weight: 500;
        }
        h5 {
          font-size: 18px;
          color: $grey;
          margin-bottom: 0;
        }
      }
    }
  }
}

@media (min-width: 576px) and (max-width: 992px) {
  .theme-modal {
    .modal-dialog {
      .quick-view-modal {
        .product-right {
          margin: 15px 0 10px 0;

          h2 {
            font-size: 18px;
            margin-bottom: 10px;
          }

          h3 {
            font-size: 22px;
            margin-bottom: 10px;
          }

          .color-variant {
            li {
              height: 25px;
              width: 25px;
            }
          }

          .border-product {
            padding-top: 10px;
            padding-bottom: 15px;
          }

          .size-box {
            margin-top: 5px;
            margin-bottom: 5px;
          }

          .product-description {
            .qty-box {
              margin-top: 5px;
            }
          }
        }
      }
    }
    &.cart-modal {
      .modal-dialog {
        .modal-content {
          .modal-body {
            .modal-bg {
              &.addtocart {
                .media {
                  a {
                    img {
                      max-width: 105px;
                      margin-bottom: 10px;
                    }
                  }

                  .media-body {
                    .buttons {
                      a {
                        padding: 4px 5px;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    &.exit-modal {
      .media {
        align-items: center;

        img {
          width: 25%;
        }

        .media-body {
          h4 {
            font-size: 16px;
            margin-bottom: 0;
          }

          h2 {
            margin-bottom: 2px;
          }

          h5 {
            font-size: 16px;
            line-height: 18px;
          }
        }
      }

      .modal-dialog {
        .modal-content {
          .modal-body {
            .modal-bg {
              padding: 12px;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 1px) and (max-width: 576px)  {

  .theme-modal {
    .modal-dialog {
      .modal-content {
        .modal-body {
          padding: 5px;
          .modal-bg {
            padding: 20px;
            .close {
              right: 10px;
            }
            .offer-content {
              img {
                margin-bottom: 5px;
              }
              form {
                .form-group {
                  .form-control {
                    padding-top: 10px;
                    padding-bottom: 10px;
                  }
                }
              }
              h2 {
                font-size: 20px;
                margin-bottom: 10px;
              }
            }
            .age-content {
              form {
                .form-control {
                  height: 40px;
                  padding: 0;
                }
              }
            }
          }
        }
      }
    }
    &.cart-modal {
      .modal-dialog {
        .modal-content {
          .modal-body {
            .modal-bg {
              &.addtocart {
                .media {
                  display: block;
                  text-align: center;
                }
              }
            }
          }
        }
      }
    }
  }
}

