
/*=====================
  25. theme setting box CSS
==========================*/

.color1 {
    background: #ff4c3b;
}

.color2 {
    background: #3fdda7;
}

.color3 {
    background: #f0b54d;
}

.color4 {
    background: #e4604a;
}

.color5 {
    background: #d4b196;
}

.color6 {
    background: #866e6c;
}

.color7 {
    background: #cc2121;
}

.color8 {
    background: #dc457e;
}

.color9 {
    background: #6d7e87;
}

.color10 {
    background: #fa869b;
}

.color11 {
    background: #81ba00;
}

.color12 {
    background: #fe816d;
}

.color13 {
    background: #01effc;
}

.color14 {
    background: #5d7227;
}

.color15 {
    background: #ff9944;
}

.color16 {
    background: #5fcbc4;
}

.color17 {
    background: #e38888;
}

.color18 {
    background: #000000;
}

.color-picker {
    position: fixed;
    right: -190px;
    top: calc(38vh + 220px);
    width: 190px;
    z-index: 1;
    transition: all .3s ease;
    .settings-header {
        background: #f3f3f3;
        padding: 5px 15px;
        box-shadow: 0px -10px 20px -5px rgba(220, 220, 220, 0.62);
        h3 {
            color: black;
            margin: 0;
            font-size: 20px;
            padding: 4px 9px;
        }
    }
    .section {
        background: white;
        padding: 10px;
        border: 1px solid #f3f3f3;
        overflow: auto;
        i {
            font-size: 16px;
            margin-right: 10px;
        }
    }
    a {
        &.handle {
            position: absolute;
            right: 190px;
            width: 45px;
            height: 41px;
            transition: all ease-in 0.3s;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 22px;
            z-index: -1;
            text-decoration: none;
            background-color: rgb(249, 249, 249);
            box-shadow: -5.985px -0.419px 30px 0 rgba(0, 0, 0, .08), inset -2px 0 10px 0 rgba(0, 0, 0, .04);
            top: -80px;
            color: $black;
            i {
                margin-left: 5px;
            }
        }
    }
    .colors {
        a {
            width: 32px;
            height: 32px;
            margin: 5px;
            float: left;
            transition: all ease-in 0.3s;
        }
    }
    .skin {
        a {
            display: block;
            width: 70px;
            height: 30px;
            margin-left: 0;
            margin-top: 0;
            margin-right: 5px;
            float: left;
            text-align: center;
            line-height: 30px;
            border: 2px transparent solid;
            &.actt {
                border: 2px white solid;
            }
        }
    }
}



.setting-sidebar {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    background-color: #f7f7f7;
    width: 40px;
    height: 40px;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: 0px 0px 5px 0px rgba(154, 154, 154, 0.54);
    transition: all 0.5s ease;
    z-index: 2;
    i {
        animation: ring-rotate 3s infinite linear;
        font-size: 20px;
        color: #3c3c3c;
        margin-left: 10px;
    }
    &.open-icon {
        right: 351px;
        transition: all 0.5s ease;
    }
}

@media (min-width: 576px) and (max-width: 992px) {
    .setting-sidebar {
        width: 35px;
        height: 35px;
        i {
            font-size: 19px;
        }
    }
}
@media (min-width: 1px) and (max-width: 576px) {
    .setting-box {
        width: 280px;
    }
}


.setting_box_body {
    position: relative;
    background-color: white;
    z-index: 9;
    height: 100vh;
}

.setting-box {
    position: fixed;
    height: 100vh;
    overflow-y: auto;
    width: 350px;
    right: -360px;
    background-color: white;
    top: 0;
    z-index: 999;
    box-shadow: 0 15px 5px 0 rgba(77, 77, 77, 0.28);
    transition: all 0.5s ease;
    ::-webkit-scrollbar {
        width: 3px;
        height: 7px;
    }
    ::-webkit-scrollbar-track {
        background: $round-border;
    }
    ::-webkit-scrollbar-thumb {
        background: $grey5;
    }
    ::-webkit-scrollbar-thumb:hover {
        background: $grey2;
    }
    &.opensetting {
        right: 0;
        transition: all 0.5s ease;
        .overlay {
            visibility: visible;
            transition: all 0.5s ease;
        }
    }
    .sidebar-back {
        padding: 20px;
        font-size: 18px;
        color: #222222;
        font-weight: 700;

        cursor: pointer;
        box-shadow: inset 0px 0px 6px rgba(115, 115, 115, 0.09);
        background-color: #f3f3f3;
    }
    .setting-title {
        padding: 20px;
        border-bottom: 1px solid #efefef;
        margin-bottom: 0;
        h4 {
            position: relative;
            margin-bottom: 0;
            cursor: pointer;
        }
        &.active {
            .according-menu {
                font: normal normal normal 14px/1 FontAwesome;
                &:before {
                    content: "\f068";
                    position: absolute;
                    right: 2px;
                    top: 2px;
                }
            }
        }
        .according-menu {
            font: normal normal normal 14px/1 FontAwesome;
            &:before {
                content: "\f067";
                position: absolute;
                right: 2px;
                top: 2px;
            }
        }
    }
    .setting-contant {
        padding: 0px;
        border-bottom: 1px solid #efefef;
        max-height: 0;
        overflow: hidden;
        transition-property: all;
        transition-duration: .5s;
        transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
        &.opensubmenu {
            padding: 20px;
            overflow-y: scroll;
            max-height: 500px;
            transition-property: all;
            transition-duration: .5s;
            transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
        }
        .setting_buttons {
            .setting_btn {
                background-color: var(--theme-deafult);
                color: white;
                width: 100%;
            }
            li {
                &:first-child {
                    width: 49%;
                }
                &.active {
                    box-shadow: 0px 0px 5px 0px rgb(146, 146, 146);
                }
                &:last-child {
                    margin-left: 10px;
                    width: 46%;
                }
            }
        }
        .color-box {
            li {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                input {
                    border: none;
                    -webkit-box-shadow: none;
                    box-shadow: none;
                    width: 34px;
                    height: 34px;
                    background-color: transparent;
                    margin-right: 5px;
                }
                span {
                    text-transform: capitalize;
                    margin-bottom: 2px;
                    font-size: 15px;
                    color: $black;
                }
                &.active {
                    position: relative;
                    a {
                        box-shadow: 0px 0px 5px 0px rgb(146, 146, 146);
                    }
                    &:after {
                        content: "";
                        background-image: url("data:image/svg+xml;charset=utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'><path fill='%23000' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/></svg>");
                        top: 13px;
                        height: 15px;
                        width: 15px;
                        background-size: 80%;
                        background-repeat: no-repeat;
                        position: absolute;
                        left: 14px;
                        filter: invert(100);
                    }
                }
            }
        }
    }
    .buy_btn {
        padding: 20px;
        a {
            background-color: #f3f3f3;
            color: #3c3c3c;
            padding: 10px;
            transition: all 0.5s ease;
            i {
                margin-right: 5px;
                font-size: 18px;
            }
            img {
                filter: grayscale(100);
            }
        }
        .btn_multi {}
    }
    .overlay {
        visibility: hidden;
        opacity: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: all 0.5s ease;
    }
}

.demo-section {
    .title-text {
        h3 {
            color: var(--theme-deafult);
            margin-bottom: 24px;
            display: inline-block;
            padding-bottom: 5px;
            font-size: 40px;
            position: relative;
            i {
                font-size: 22px;
                position: absolute;
                top: 0;
                right: -20px;
            }
        }
    }
    .demo-effects {
        margin-bottom: 30px;
        h4 {
            text-transform: capitalize;
        }
        .set-position {
            display: block;
        }
        >div {
            text-decoration: none;
            color: black;
            .layout-container {
                height: 110px;
                width: 100%;
                display: inline-flex;
                background-size: cover;
                transition: all 2s ease-out 0s;
                box-shadow: -1px 2px 5px 1px #ececec;
                &.demo1 {
                    background-image:url("#{$assetspath}/demo/home/1.jpg");
                }
                &.demo2 {
                    background-image:url("#{$assetspath}/demo/home/2.jpg");
                }
                &.demo3 {
                    background-image:url("#{$assetspath}/demo/home/3.jpg");
                }
                &.demo4 {
                    background-image:url("#{$assetspath}/demo/home/4.jpg");
                }
                &.demo5 {
                    background-image:url("#{$assetspath}/demo/home/5.jpg");
                }
                &.demo6 {
                    background-image:url("#{$assetspath}/demo/home/6.jpg");
                }
                &.demo7 {
                    background-image:url("#{$assetspath}/demo/home/7.jpg");
                }
                &.demo8 {
                    background-image:url("#{$assetspath}/demo/home/8.jpg");
                }
                &.demo9 {
                    background-image:url("#{$assetspath}/demo/home/9.jpg");
                }
                &.demo10 {
                    background-image:url("#{$assetspath}/demo/home/10.jpg");
                }
                &.demo11 {
                    background-image:url("#{$assetspath}/demo/home/11.jpg");
                }
                &.demo12 {
                    background-image:url("#{$assetspath}/demo/home/12.jpg");
                }
                &.demo13 {
                    background-image:url("#{$assetspath}/demo/home/13.jpg");
                }
                &.demo14 {
                    background-image:url("#{$assetspath}/demo/home/14.jpg");
                }
                &.demo15 {
                    background-image:url("#{$assetspath}/demo/home/15.jpg");
                }
                &.shop1 {
                    background-image:url("#{$assetspath}/demo/shop/1.jpg");
                }
                &.shop2 {
                    background-image:url("#{$assetspath}/demo/shop/2.jpg");
                }
                &.shop3 {
                    background-image:url("#{$assetspath}/demo/shop/3.jpg");
                }
                &.product1 {
                    background-image:url("#{$assetspath}/demo/product/1.jpg");
                }
                &.product2 {
                    background-image:url("#{$assetspath}/demo/product/2.jpg");
                }
                &.product3 {
                    background-image:url("#{$assetspath}/demo/product/3.jpg");
                }
                &.product4 {
                    background-image:url("#{$assetspath}/demo/product/4.jpg");
                }
                &.product5 {
                    background-image:url("#{$assetspath}/demo/product/5.jpg");
                }
                &.product6 {
                    background-image:url("#{$assetspath}/demo/product/6.jpg");
                }
                &.product7 {
                    background-image:url("#{$assetspath}/demo/product/7.jpg");
                }
            }
            .demo-text {
                h4 {
                    font-size: 16px;
                    margin-top: 10px;
                    margin-bottom: 0;
                    color: #000000;
                    span {
                        font-weight: 500;
                    }
                }
                .demo-btn {
                    margin-top: 10px;
                    .btn {
                        border: 1px solid #ddd;
                        background-color: white;
                        width: 90px;
                        color: var(--theme-deafult);
                        padding: 5px 10px;
                        border-radius: 30px;
                        &:hover {
                            background-color: var(--theme-deafult);
                            color: white;
                        }
                    }
                }
            }
        }
        &:last-child {
            margin-bottom: 0;
        }
        &.effect-2 {
            .layout-container {
                background-size: cover;
                background-repeat: no-repeat;
            }
            &:hover {
                .layout-container {
                    background-position: top !important;
                }
            }
        }
        &.effect-3 {
            .layout-container {
                background-size: cover;
                background-repeat: no-repeat;
            }
            &:hover {
                .layout-container {
                    background-position: top !important;
                }
            }
        }
        &:hover {
            .layout-container {
                background-position: center 100% !important;
            }
        }
    }
}

@keyframes ring-rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.sec-position {
    position: relative;
    top: -80px;
}


.search-overlay {
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    background-color: lighten($white, 5%);
    >div {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        .overlay-content {
            width: 100%;
            .form-control {
                &:focus {
                    box-shadow: none;
                }
            }
            input {
                background-color: transparent;
                border: 0;
                border-bottom: 2px solid lighten($black, 46.5%);
                border-radius: 0;
                padding: 20px 0;
                &::-webkit-input-placeholder {
                    /* Chrome/Opera/Safari */
                    color: lighten($black, 46.5%);
                    font-size: 18px;
                }
                &::-moz-placeholder {
                    /* Firefox 19+ */
                    color: lighten($black, 46.5%);
                    font-size: 18px;
                }
                &:-ms-input-placeholder {
                    /* IE 10+ */
                    color: lighten($black, 46.5%);
                    font-size: 18px;
                }
                &:-moz-placeholder {
                    /* Firefox 18- */
                    color: lighten($black, 46.5%);
                    font-size: 18px;
                }
            }
            button {
                position: absolute;
                top: 10px;
                background-color: transparent;
                border: 0;
                font-size: 24px;
                color: lighten($black, 46.5%);
                right: 10px;
            }
        }
        .closebtn {
            position: fixed;
            top: 10px;
            right: 25px;
            color: lighten($black, 46.5%);
            font-size: 40px;
            cursor: pointer;
        }
    }
}

.onhover-div {
    position: relative;
    padding-top: 40px;
    padding-bottom: 40px;
    img,
    i {
        cursor: pointer;
    }
    .show-div {
        top: 103px;
        position: absolute;
        z-index: 9;
        background-color: $white;
        transition: all linear 0.3s;
        min-width: 236px;
        text-align: left;
        -webkit-box-shadow: 0 0 1px 0 #ebebeb;
        -moz-box-shadow: 0 0 1px 0 #ebebeb;
        box-shadow: 0 0 1px 0 #ebebeb;
        transform: translateY(30px);
        opacity: 0;
        visibility: hidden;
        right: 0;
        padding: 0;
        border-radius: 0 !important;
    }
    &:hover {
        .show-div {
            opacity: 1;
            transform: translateY(0px);
            visibility: visible;
        }
    }
}

.cart_qty_cls {
    position: absolute;
    background: var(--theme-deafult);
    width: 20px;
    height: 20px;
    color: #fff;
    border-radius: 20px;
    text-align: center;
    font-size: 12px;
    line-height: 14px;
    font-weight: 600;
    top: 20%;
    right: -8px;
    padding: 3px 3px;
}

.dark-light {
    position: fixed;
    right: 0;
    width: 40px;
    height: 38px;
    display: flex;
    z-index: 1;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    text-decoration: none;
    border-radius: 5px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    background-color: #f7f7f7;
    box-shadow: 0px 0px 5px 0px rgba(154, 154, 154, 0.54);
    top: calc(50% + 34px);
    cursor: pointer;
}
@media (min-width: 576px) and (max-width: 992px) {
    .dark-light {
        width: 35px;
        height: 35px;
    }
    .cart_qty_cls {
        top: -10px;
    }
    .search-overlay {
        > div {
            .closebtn {
                top: 15px;
                right: 30px;
            }
        }
    }
}
